[package]
name = "binx-convert"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
binx-dosage = { path = "../binx-dosage" }
